/* Universal Styles */

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Banner Section */

.banner {
    height: 38rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-image: url('./img/Desktop/background-desktop.png');
    transition: height 0.5s;
}

.form {
    width: 350px;
    transition: width 0.5s;
    height: 100%;
    position: absolute;
    right: 155px;
    background-color: rgba(63, 63, 63, 0.6);
    font-style: normal;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form .title {
    width: 290px;
    font-size: 2.25rem;
    line-height: 120%;
    color: #FFFFFF;
    margin: 20px;
}

.form .submit {
    display: block;
    width: 290px;
    height: 60px;
    background-color: #FFDE25;
    color: white;
    font-size: 16px;
    line-height: 130.08%;
    margin: 15px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    border: hidden;
    transition: background-color 0.2s ;
}

.form .submit:hover {
    background-color: #ffae18;
}

.form .submit:active {
    background-color: #dd8615;
}

button:hover {
    cursor: pointer;
}

.form .email {
    display: block;
    margin: 0 auto;
    width: 290px;
    height: 60px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 130.08%;
    padding-left: 15px;
    outline: 1px solid #0198fa;
    border: 5px solid transparent;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.form .email:hover {
    outline: 0px solid transparent;
    border: 5px solid #0198fa;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.form .email:focus {
    outline: 0px solid transparent;
    border: 5px solid #0198fa;
}
.form small {
    display: block;
    margin: 5px auto;
    text-align: center;
    
	color: #ffd900;
}

/* Main Section */

h1,
h2 {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: 123.88%;
    color: #3F3F3F;
}

h1 {
    font-size: 2.25rem;
    margin: 50px;
}

h2 {
    font-size: 1.5rem;
    margin: 40px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.steps {
    width: 350px;
    height: 200px;
    padding: 10px;
    margin: 15px;
    border: 1px solid #DCDCDC;
    color: #3F3F3F;
    position: relative;
    display: flex;
    align-items: center;

}

.arrow {
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid #1699D3;
    position: absolute;
    right: -40px;
    z-index: 1;
}

.steps span {
    float: left;
    font-weight: 900;
    font-size: 110px;
    padding: 20px;
}

.steps .text {
    width: 55%;
}

.steps h3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 123.88%;
}

.steps p {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 123.88%;
}

.avatar {
    border: 1px solid #DCDCDC;
    width: 540px;
    height: 160px;
    padding: 10px;
    margin: 15px;
}

.avatar img {
    border-radius: 50%;
    float: left;
    margin: 20px;
}

.avatar h4 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 130.08%;
    color: #373737;
    margin-top: 25px;
}

.avatar p {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 130.08%;
    color: #373737;
}

.event-button {
    display: block;
    margin: 50px auto;
    width: 540px;
    height: 60px;
    background-color: #F16529;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    line-height: 130.08%;
    border: hidden;
    transition: background-color 0.2s ;
}

.event-button:hover {
    background-color: #fa8756;
}

.event-button:active {
    background-color: #c85523;
}

/* Footer Section */

.logos {
    width: 70%;
    margin: 100px auto 50px auto;
    display: flex;
    justify-content: center;
}

.logos img {
    margin: 0 15px;
}

footer {
    background-color: rgba(220, 220, 220, 0.6);
    padding-bottom: 15px;
    color: #373737;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 130.08%;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.list a {
    display: block;
    padding: 20px 20px;
}

.list a:hover {
    background-color: rgba(220, 220, 220);
}

footer .legal {
    max-width: 1110px;
    margin: auto;
    padding: 0 10px;
}

.legal p {
    text-align: center;
    margin: 0 0 10px 0;
}

/* Media Queries */

@media only screen and (min-width: 720px) and (max-width: 950px) {
    .banner {
        height: 19rem;
    }

    .form {
        width: 330px;
        right: 15px;
    }

    .form .title {
        font-size: 24px;
    }

    .form .submit {
        width: 273px;
    }

    .form .email {
        width: 273px;
    }

    .container {
        flex-direction: column;
    }

    .steps {
        width: 690px;
        height: 100px;
    }

    .steps .text {
        width: 100%;
    }

    .arrow {
        transform: rotate(90deg);
        right: 50px;
        bottom: -60px;
    }

}

@media only screen and (max-width: 720px) {

    h1 {
        font-size: 1.5rem;
    }

    .banner {
        height: 15rem;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }

    .form {
        width: 290px;
        height: 300px;
        margin: 20px auto;
        position: static;
        display: flex;
    }

    .form .title {
        font-size: 1.5rem;
    }

    .form .submit {
        width: 240px;
        display: flex;
        align-items: center;
    }

    .form .email {
        width: 240px;
    }

    .event-button {
        width: 290px;
        height: 32px;
        margin: 15px;
    }

    .event-button p {
        margin: 0px;
    }

    .container {
        flex-direction: column;
    }

    .steps {
        width: 290px;
        height: 100px;
        margin: 10px;
    }

    .steps h3 {
        margin-bottom: 0px;
    }

    .steps p {
        margin-top: 5px;
    }

    .steps .text {
        width: 100%;
    }

    .steps span {
        padding: 10px;
    }

    .arrow {
        transform: rotate(90deg);
        right: 120px;
        bottom: -45px;
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 30px solid #1699D3;
    }

    .avatar {
        border: 1px solid #DCDCDC;
        width: 290px;
        height: 290px;
        padding: 10px;
        margin: 15px;
        text-align: center;
    }

    .avatar img {
        float: none;
        margin: 10px 0 0 0;
    }

    .list {
        flex-direction: column;
        align-items: center;
    }

    .list a {
        padding: 15px 20px;
    }

    .logos {
        flex-wrap: wrap;
        margin: 50px auto;
    }

    .logos img {
        margin: 15px;
    }

}